.filters {
    margin: 10px 0px 10px 0px;
    display: flex;
    color: black;
    background-color: bisque;

}

.filterContainer {
    margin: 0px 5px 0px 5px;
    flex-grow: 1;
    text-align: center;
    /* background-color: aqua; */
}

.filterDropContainer {
    display: flex;
    justify-content: center;
}

#filterRating {
    min-width: 75px;
    max-width: 100px;
}

.filterName {

}

.filterSingle {
    color: blue;
    min-width: 75px;
    max-width: 100px;
}

.filterMulti {
    color: blue;
    max-width: 300px;
    min-width: 100%;
}


.sliderContainer {
    margin: 0px 5px 0px 5px;
    flex-basis: 30%;
}

.sliderLabel {
    display: flex;
    justify-content: space-between;
}

.sliderMax {

}

.sliderName {

}